
// loquiz colors
$loquiz-grey: #fff;
$loquiz-green: #6FA4A9;
$loquiz-yellow: #FCEC5B;
$loquiz-blue: #11C2FB;
$loquiz-pink: #E67DFF;

//variables;
$header-height: 4rem;
$height-less-header: calc(100vh - #{$header-height});
$default-border-radius: 4px;
